.container {
    font-family: 'Arial', sans-serif;
    background-image: url('https://wallpaperaccess.com/full/4727334.jpg');
    color: #ecf0f1;
    margin: 0;
    padding: 20px;
    text-align: center;
  }


  
  
  .header {
    /*background-color: #e28d0eb0;*/
    color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .highlight {
    margin: 20px 0;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
  }
  
  .music-player {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .link {
    color: #fff;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
  }
  
  .footer {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
  }

  .logo {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px; /* Espaço abaixo da logo */
  }

  .songRequest {
    width: 300px; /* Define a largura fixa */
    margin: 1rem auto; /* Centraliza a seção horizontalmente */
    padding: 1rem; /* Mantém um padding leve */
    background-color: #070707; /* Fundo claro */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
  }
  
  .requestForm {
    display: flex;
    flex-direction: column; /* Mantém o layout em coluna */
    gap: 0.5rem; /* Espaçamento entre o campo de entrada e o botão */
  }
  
  .requestInput {
    padding: 0.5rem; /* Padding reduzido */
    font-size: 0.9rem; /* Tamanho da fonte levemente menor */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
  }
  
  .requestButton {
    padding: 0.5rem; /* Padding reduzido */
    font-size: 0.9rem; /* Tamanho da fonte levemente menor */
    color: white; /* Cor do texto */
    background-color: #0070f3; /* Cor do botão */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease; /* Transição suave */
  }
  
  .requestButton:hover {
    background-color: #005bb5; /* Cor ao passar o mouse */
  }